body {
  border: solid 2px red;
  background: lavender;
}

body {
  border: solid 2px red;
  background: lavender;
}

body {
  border: solid 2px red;
  background: lavender;
}

body {
  border: solid 2px red;
  background: lavender;
}

body {
  border: solid 2px red;
  background: lavender;
}

body {
  border: solid 2px red;
  background: lavender;
}